* {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: #eee;
	color: #2b2b2b;
}

nav {
	background: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	align-items: center;
	box-sizing: border-box;
}

nav ul {
	list-style: none;
	display: flex;
	padding: 0;
}

nav ul li {
	margin-left: 15px;
}

nav ul li a {
	color: #5d5d5d;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid white;
	transition: 0.3s;
}

nav ul li a:hover {
	color: #2b2b2b;
	background: #eee;
}

.container {
	padding: 10px 30px;
}

.note {
	background: white;
	padding: 20px;
}

.note .actions {
	display: flex;
	margin-top: 10px;
	justify-content: end;
}

.actions button {
	margin-left: 20px;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	transition: 0.3s;
}

.actions button:hover,
.actions button:focus {
	color: white;
	background: #2b2b2b;
}

.actionbar {
	display: flex;
	justify-content: end;
	margin-bottom: 10px;
}

.actionbar button {
	background: white;
	margin-left: 20px;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	transition: 0.3s;
}

.actionbar button:hover,
.actionbar button:focus {
	color: white;
	background: #2b2b2b;
}

@media only screen and (max-width: 600px) {
	nav {
		flex-direction: column;
	}

	nav ul {
		margin-top: 15px;
	}
}
