* {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: #eee;
	color: #2b2b2b;
}

nav {
	background: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	align-items: center;
	box-sizing: border-box;
}

nav ul {
	list-style: none;
	display: flex;
	padding: 0;
}

nav ul li {
	margin-left: 15px;
}

nav ul li a {
	color: #5d5d5d;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid white;
	transition: 0.3s;
}

nav ul li a:hover {
	color: #2b2b2b;
	background: #eee;
}

.container {
	padding: 10px 30px;
}

.note {
	background: white;
	padding: 20px;
}

.note .actions {
	display: flex;
	margin-top: 10px;
	justify-content: end;
}

.actions button {
	margin-left: 20px;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	transition: 0.3s;
}

.actions button:hover,
.actions button:focus {
	color: white;
	background: #2b2b2b;
}

.actionbar {
	display: flex;
	justify-content: end;
	margin-bottom: 10px;
}

.actionbar button {
	background: white;
	margin-left: 20px;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	transition: 0.3s;
}

.actionbar button:hover,
.actionbar button:focus {
	color: white;
	background: #2b2b2b;
}

.float-form {
	position: fixed;
	visibility: hidden;
	background: white;
	padding: 10px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 16px lightgray;
	min-width: 30%;
}

.float-form.active {
	visibility: visible;
}

.float-form form {
	display: flex;
	flex-direction: column;
}

.float-form form h1 {
	text-align: center;
	padding: 4px;
	font-size: 20px;
	margin-bottom: 5px;
}

textarea,
input {
	padding: 10px 15px;
	margin-bottom: 10px;
	border: 1px solid #eee;
	outline: none;
	transition: 0.3s;
}

textarea:focus,
textarea:hover,
input:focus,
input:hover {
	border: 1px solid #2b2b2b;
}

form button {
	cursor: pointer;
	outline: none;
	border: none;
	background: #eee;
	color: #2b2b2b;
	border-radius: 0;
	padding: 10px 15px;
	transition: 0.3s;
}

form button:hover,
form button:focus {
	background: #2b2b2b;
	color: #eee;
}

form a {
	display: block;
	text-decoration: none;
	color: #5c5c5c;
	margin-top: 10px;
	font-size: 14px;
	transition: 0.3s;
}

form a:focus,
form a:hover {
	color: #2b2b2b;
}

.error {
	background: #f1c4c4;
	padding: 5px;
	font-size: 14px;
	margin-bottom: 10px;
	border: 1px solid #ff5e5e;
}

.success {
	background: #a0fc9e;
	padding: 5px;
	font-size: 14px;
	margin-bottom: 10px;
	border: 1px solid #54c181;
}

@media only screen and (max-width: 600px) {
	nav {
		flex-direction: column;
	}

	nav ul {
		margin-top: 15px;
	}
}
